@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
$renk1: aliceblue;
$renk2: #333;
body
{
    background-color: $renk2;
    color: $renk1;
    font-family: 'Chakra Petch', sans-serif;
}